In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb

In [2]:
model = xgb.XGBRegressor()

In [3]:
model.load_model("Model/model_regr.model")

In [4]:
data = pd.read_csv("data/Generate data.csv")

In [5]:
import shap

IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html

In [6]:
explainer = shap.Explainer(model)

[18:29:46] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-07f6e447eee219473-1\xgboost\xgboost-ci-windows\src\c_api\c_api.cc:1240: Saving into deprecated binary model format, please consider using `json` or `ubj`. Model format will default to JSON in XGBoost 2.2 if not specified.

In [7]:
explanation = explainer(data.iloc[:,:-1])

In [8]:
shap_values = explanation.values
# make sure the SHAP values add up to marginal predictions
# np.abs(shap_values.sum(axis=1) + explanation.base_values - pred).max()

In [9]:
Shap_df = pd.DataFrame(shap_values).assign(y = data.iloc[:,-1])

----

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
Shap_df_train, Shap_df_test = train_test_split(Shap_df, test_size = 0.1)

In [12]:
from sklearn.neighbors import NearestNeighbors

nbrs = NearestNeighbors(n_neighbors=5).fit(Shap_df_train.iloc[:,:-1])

In [13]:
distances, indices = nbrs.kneighbors(Shap_df_test.iloc[:,:-1])

--------

In [14]:
Shap_df_test.iloc[[0,0]]

           0       1          2          y
56 -3.380192 -2.0038 -55.885674 -32.753844
56 -3.380192 -2.0038 -55.885674 -32.753844

In [15]:
Shap_df_train.iloc[indices[0]]

            0         1          2          y
786 -2.381818 -2.387261 -54.465519 -30.639635
626  1.179778 -1.324481 -63.273273 -34.952189
758 -0.654205  1.262629 -65.566711 -36.464956
561  7.755349 -2.363137 -50.997189 -17.008485
90  -0.768529 -4.069335 -43.510899 -19.897452

In [16]:
tmp = data.loc[list(Shap_df_test.iloc[[0,0]].index) + list(Shap_df_train.iloc[indices[0]].index)]

In [17]:
tmp["pred"] = model.predict(tmp.iloc[:,:-1])

In [18]:
tmp

          x_1       x_2       x_3          y       pred
56  -1.338434  0.722971 -2.662383 -32.753844 -32.747398
56  -1.338434  0.722971 -2.662383 -32.753844 -32.747398
786 -0.974718 -0.165503 -2.590036 -30.639635 -30.712332
626  0.149040  0.785729 -2.796491 -34.952189 -34.895729
758 -0.821443 -1.353560 -2.834877 -36.464956 -36.436050
561  0.980634  0.262317 -2.373425 -17.008485 -17.082762
90  -0.208626 -0.290773 -2.351458 -19.897452 -19.826509

In [19]:
# interesting behaviour in x_2 since in it is linked in squere manner 
# values -1.092894,   -1.092894,   1.136824,   0.909743 have similar impact

In [20]:
# My consern is still in,
# althrou reduced toonly 1 dimention problem

----

In [21]:
data["pred"] = model.predict(data.iloc[:,:-1])

In [23]:
data.loc[abs(data.pred - data.iloc[56].pred).sort_values().iloc[range(5)].index]

          x_1       x_2       x_3          y       pred
56  -1.338434  0.722971 -2.662383 -32.753844 -32.747398
786 -0.974718 -0.165503 -2.590036 -30.639635 -30.712332
626  0.149040  0.785729 -2.796491 -34.952189 -34.895729
739 -1.232303 -0.271717 -2.673121 -35.077902 -35.096626
758 -0.821443 -1.353560 -2.834877 -36.464956 -36.436050